html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* General Styles */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Allow vertical scrolling */
    margin-top:100px;
}

.container {
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container::-webkit-scrollbar { 
    display: none;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #07080a;
    color: white;
    padding: 20px 0 20px 0;
    margin: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1200;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow for better separation */
}

.logo {
    max-width: 30%;
    border: none !important;
    outline: none !important;
    padding: 0 !important;
    margin-right: 20px; /* Only margin-right is set, check if this is necessary */
    box-shadow: none !important;
    border-image: none !important;
    vertical-align: top;
}


.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .site-name {
    font-size: 40px;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .logo-name-wrap {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.navbar .subtitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38%;
    margin-left: 0px;
}

.navbar .nav-links {
    margin-bottom: 20px;
    margin-right: 40px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    padding: 0px;
    font-size: 20px;
    transition: color 0.3s;
}

.navbar .nav-links a:hover {
    color: #E0EAF5;
}

/* Smaller NavBar */

.navbar, .navbar .site-name, .navbar .nav-links a, .navbar .logo {
    transition: all 0.25s ease-in-out;
}

.navbar.shrink {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 22.5px 0;
}

.navbar.shrink .site-name {
    font-size: 30px;
}

.navbar.shrink .nav-links {
    margin-bottom: 10px;
    margin-right: 40px;
}

.navbar.shrink .nav-links a {
    font-size: 18px;
    margin: 0 10px;
}

.navbar.shrink .logo {
    max-width: 20%;
}




/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.slideshow {
    position: relative;
}

/* Add these styles to your existing CSS */

.slideshow img {
    width: 100%;
    display: block;
    transition: opacity 0.25s ease-in-out; /* Smooth transition for opacity */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Black background for fade effect */
    opacity: 0;
    transition: opacity 0.25s ease-in-out; /* Fade in/out effect for overlay */
    z-index: 1; /* Ensure overlay is above the image */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards; /* Smooth fade-out */
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards; /* Smooth fade-in */
}

/* Indicator Styles */
.indicator-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 1000;
}

/* Base Indicator Styles */
.indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff; 
    transition: background-color 0.3s, transform 0.3s, outline 0.3s;
    border: 2px solid transparent; 
    z-index: 1000;
}

/* Active Indicator Styles */
.indicator.active {
    background-color: #111111;
    transform: scale(1.2);
    outline: 2px solid white;
}


/* Main Content Styles */
.main-content {
    gap: 20px;
    padding: 40px 0;
    flex: 1;
}

.slideshow img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow:hidden;
    object-position: top;
}

.mostpopulargames {
    background-color: #232323;
    align-items: center;
    margin:0 auto;
    display: flex;
    z-index: 900;
    width:100%;
    padding: 100px;
}

.mostpopulargames span {
    background-color: #B4280E;
    font-size:42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20% 10px 26%;
    color: white;
    font-weight: bold;
    width: 100%;
    display:flex;
}

.game-block {
    background-color: #232323;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    margin:0 0 0 0;
}

.game-block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* animation: blink 1s; */
}

@keyframes blink {
    50% { opacity: 0.7; }
}

.game-image img {
    margin: 25px 30px;
    max-width: 150%;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:930px;
}

.game-title {
    display: flex;
    font-size: 32px;
    font-weight: bolder;
    margin: 25px 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game-description {
    display: flex;
    max-width: 100%;
    font-size: 22px;
    margin: 25px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Align the content to the right for the second game */
.align-right {
    align-items: flex-end; /* Align the title and description to the right */
    text-align: right; /* Align the text content to the right */
}

.align-right .game-title, 
.align-right .game-description {
    margin: 25px 100px; /* Adjust margin to avoid pushing the content to the left */
}

/* Footer */
footer {
    background-color: #07080a;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 50px;
}

.footer-links, .social-icons {
    margin-bottom: 50px;
}

.footer-links a, .footer-bottom a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.footer-links a:hover, .footer-bottom a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
}

.social-icons img {
    width: 42px;
    height: 42px;
}

.footer-bottom p {
    font-size: 12px;
    margin-top: 20px;
}

/* Challenges Page Styles */
.challenges {
    padding: 40px 0;
    color: white;
}

.challenge-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.challenge-item {
    background-color: #232323;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.challenge-item.complete {
    background-color: #4CAF50;
    color: white;
}

.challenge-item.incomplete {
    background-color: #B4280E;
}

.challenge-item .status {
    font-weight: bold;
}

/* Blue section below slideshow */

.blue-section {
    background-color: #1b1c1b;
    padding: 50px 0;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1368px;
    margin: 0 auto;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    text-align: right;
    max-width: 600px;
    color: white;
    margin-left:50px;
}

.text-container span {
    font-size: 42px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.text-container p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.know-more-btn {
    background-color: #cc3a2a;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.know-more-btn:hover {
    background-color: #b5280e;
}

.purpose {
    margin-right: 190px;
}

.unleash {
    font-weight: bolder;
    font-size: 24px;
    margin-right: 100px;
}


/* Support Page */

.support-section {
    background-color: #232323;
    text-align: center;
    color: white;
    position: relative;
    margin: 0;
}

.support-header h1 {
    font-size: 96px;
    padding: 100px 100px;
    position: relative;
    z-index: 2;
    margin: 0;
}

.support-header {
    position: relative;
    margin: 0;
}

.support-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/support.jpg');
    background-position: center;
    opacity: 0.9;
    z-index: 1;
    margin: 0;
}

.contact-section-container {
    background: #232323;
    width: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.contact-content span {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.contact-content p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
} 

.contact-section {
    background-color: #232323;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 50px;
}

.contact-content {
    padding: 50px 200px 50px 50px;
}

.contact-button {
    background-color: #cc3a2a;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin:50px 0 20px 0;
}

.contact-button:hover {
    background-color: #b5280e;
}

/* Media Queries */

/* Navbar Styles for Small Screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .navbar .site-name {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .navbar .nav-links {
        flex-direction: column;
        margin-right: 0;
    }
    .navbar .nav-links a {
        margin: 10px 0;
        font-size: 18px;
    }
    .navbar .logo {
        max-width: 40%;
    }

}

/* Navbar Styles for Very Small Screens */
@media (max-width: 480px) {
    .navbar {
        padding: 10px 0; /* Adjust padding for smaller screens */
    }

    .navbar .container {
        flex-direction: column;
        align-items: center;
    }

    .navbar .site-name,
    .navbar .subtitle {
        display: none; /* Hide site name and subtitle on very small screens */
    }

    .navbar .nav-links {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align nav links */
    }

    .navbar .nav-links a {
        font-size: 16px; /* Adjust font size */
        margin: 5px 0; /* Adjust spacing between links */
    }

    .navbar .logo {
        max-width: 40%; /* Adjust logo size */
    }
}

/* Game Block Styles for Small Screens */
@media (max-width: 768px) {
    .game-block {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .game-image, .game-info {
        width: 100%;
        text-align: center;
    }
    .game-info {
        align-items: center;
    }
}

/* Blue Section Styles for Small Screens */
@media (max-width: 768px) {
    .blue-section .content-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .blue-section .text-container {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    img {
      width: 90%;
      /* If you want to maintain the aspect ratio, you can add the height as auto */
      height: auto;
    }
  }
  
/* About Page */

.about-section {
    background-color: #1b1c1b;
    text-align: center;
    color: white;
    position: relative;
    margin: 0;
}

.about-header h1 {
    font-size: 96px;
    padding: 100px 100px;
    position: relative;
    z-index: 2;
    margin: 0;
}

.about-header {
    position: relative;
    margin: 0;
}

.about-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/aboutus.jpg');
    background-position: center;
    opacity: 0.9;
    z-index: 1;
    margin: 0;
}


.about-text-section-container {
    background: #1b1c1b;
    width: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

.about-text-content span {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.about-text-content p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
} 

.about-text-section {
    background-color: #1b1c1b;
    color: white;
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 50px;
}

/*.about-text-content {
    padding: 50px 200px 50px 50px;
} 
*/

.about-block {
    background-color: #232323;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    margin:0 0 0 0;
}

.about-block:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* animation: blink 1s; */
}

@keyframes blink {
    50% { opacity: 0.7; }
}

.about-image img {
    margin: 25px 25px;
    width: 90%;
    max-width: 768px;
    height: auto;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:930px;
}

.about-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    margin: 25px 100px 10px 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-description {
    display: flex;
    max-width: 100%;
    font-size: 20px;
    margin: 25px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Align the content to the right for the second game */
.align-right {
    align-items: flex-end; /* Align the title and description to the right */
    text-align: right; /* Align the text content to the right */
}

.align-right .about-title, 
.align-right .about-description {
    margin: 25px 100px; /* Adjust margin to avoid pushing the content to the left */
}

.about-button {
    background-color: #cc3a2a;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size:20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 50px 100px;
}

.about-button:hover {
    background-color: #b5280e;
}
